@model IEnumerable<KitabKhana.Model.CoverType>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cover Type</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CoverType" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-patch-plus"></i>&nbsp; Create CoverType
            </a>
        </div>
    </div>

    <br />
    <br />


    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="text-dark">Id</th>
                <th class="text-dark">Cover Type</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>  
                    <td class="text-dark" width="40%">
                        @item.Id
                    </td>
                    <td class="text-dark" width="40%">
                        @item.Name
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="CoverType" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil">Edit</i></a>
                            <a asp-controller="CoverType" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2"><i class="bi bi-x-octagon">Delete</i></a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>


    </table>

</div>
